footer {
    background-color: var(--silant-blue);
    color: #fff;
    width: 100%;
    min-height: 100px;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-info {
    font-size: 20px;
    display: flex;
    gap: 30px;
}

.footer-licence {
    font-size: 20px;
}

@media (max-width: 360px) {
    .footer-info {
        font-size: 15px;
        gap: 5px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .footer-licence {
        font-size: 15px;
    }
}